.wrapper {
  max-width: 350px;

  
}

.result {
  color: #333;
  background-color: black;
}

/*input {*/
/*  text-align: right;*/
/*  height: 15px;*/
/*  background-color: #23221f;*/
/*  color: white;*/
/*}*/

button {
  width: 35px;
  height: 25px;
  vertical-align: middle;
}

.last-line-button {
  width: 76px;
  height: 25px;
}

#result {
  background-color: #23221f;
  color: white;
  max-width: 350px;
  width: 155px;
  text-align: right;
}